
{% set title="Главная" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

 <main> 
    
    {% include 'parts/svgo/logo-ofpery.svg' %}
    
 <h1> Главная </h1>
 <nav>
    <p>Навигация сайта</p>
    <ul>
        <li>
           <a href="schedute.html">Рассписание.</a> 
        </li>
        <li>
           <a href="prices.html"> Прайс цен.</a>
        </li>
    </ul>
 </nav>
 <section class="services">
    <h2 class="services__h">
        Список услуг
    </h2>
        <ul class="services_list">
            <li class="list__item">
                Обучение
            </li>
            <li class="list__item">
                Консультация
            </li>
            <li class="list__item">
                Код ревью
            </li>
        </ul>
 </section>
 </main>

{% include 'parts/_foot.html' %}