{% set title="Прайс" %}

{% include 'parts/_head.html' %}

<h1>Прайс цен.</h1>
    
 <table border="2">
     <thead>
            <tr>
                <td>
                    Услуга
                </td>
                <td>
                    Период
                </td>
                <td>
                    Стоимость
                </td>
            </tr>
     </thead>
     <tbody>
        <tr> 
           <td>Курсы</td>
           <td>60 дней</td>
           <td>20000 руб</td> 
        </tr>
        <tr> 
            <td>Консультация</td>
            <td>1 час</td>
            <td>500 руб</td>
        </tr>
        <tr> 
            <td>Код ревью</td>
            <td>1 раз</td>
            <td>500 руб</td>
        </tr>
     </tbody>
 </table>
<p>PS: все совпадения случайны,цены и услуги придуманы.</p>

{% include 'parts/_foot.html' %}