{% set title="Расписание" %}

{% if type == 'schedule' %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

 <main>
<section class="services">
    <h1 class="services__h">
        Расписание
    </h1>
        <ul class="services_list,list">
            <li class="list">
                Понедельник
                <p class="list__item">Занятия</p>
                <p class="list__item">Консультация</p>
            </li>
            <li class="list">
                Вторник
                <p class="list__item">Занятия</p>
                <p class="list__item">Консультация</p>
            </li>
            <li class="list">
                Среда
                <p class="list__item">Занятия</p>
                <P class="list__item">Консультация</P>
            </li>
            <li class="list">
                Четверг
                <p class="list__item">Занятия</p>
                <p class="list__item">Консультация</p>
            </li>
            <li class="list">
                Пятница
                <p class="list__item">Занятия</p>
                <p class="list__item">Консультация</p>
            </li>                
            <li class="list">
                Суббота Воскресенье
                <p class="list__item">Выходной</p>
                
            </li>
        </ul>
        
</section>
</main>

{% include 'parts/_foot.html' %}