@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';

/* Set defaults */

html,
body{
	box-sizing: border-box;
}

.main-header {
	padding: 10px;
	
	&__logo{
		width: 100px;
		color: red;
		
	}
	
}
.active {
	color: hover;
}
 .services {
	background-color: @mainColor;

		h2 {
			width: 30px;
		}

 }