<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header class="main-header">
		<a  href="#">School Ofpery.</a>
			<svg class="main-header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
				<path fill="green" d="M70.8 0C64.5 3.1 57.5 4.8 50 4.8S35.5 3.1 29.2 0C24.6 11.8 15.3 21.3 3.7 26.3 8.6 68.5 27.4 100 50 100s41.4-31.5 46.3-73.7C84.7 21.3 75.4 11.8 70.8 0z" /></svg>
				

				
				<nav>
					{% set menuLinks = [
						{
							link: 'schedule.html'
							text: 'Расписание'
						}
						{
							link: 'prices.html'
							text: 'Цены'
						}
						] 
					%}
					<ul>
						{% for link in menuLinks %}
						<li class="active">
							<a href="{{ link.link}}">{{ link.text}}</a>
						</li>
						{% endfor %}
					</ul>
				</nav>
				
	</header>